html, body{
    height: 100%;
}

input{
    border: 1px black solid;
    border-radius: 15px;
    padding-left: 20px;
    width: 200px;
    height: 30px;
    font-size: 15px;
}

.input-box{
    margin: 5px;
}

.error{
    color: red;
}

.inputError{
    border-color: red;
}